python-pptx==1.0.2
duckduckgo-search==8.0.2
groq==0.25.0
pre-commit==4.2.0
fastapi==0.115.12
starlette==0.46.2
slowapi==0.1.9
gunicorn==23.0.0
PyJWT==2.10.1
cachetools==5.5.2
passlib==1.7.4
python-multipart==0.0.20
python-pptx==1.0.2
uvicorn==0.34.3
python-dotenv==1.1.0
starlette-context==0.4.0
requests==2.32.3
